<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="stylesheet.css">
    <title></title>
</head>
<body>
    ${MENU}	
    <h1>Our amazing team:</h1>
    <h2>CEO - [NAME SURNAME]</h2>
    <div class="text">
        A lady who has plenty of ideas. Some ideas are more
        emotional than rational, but don't tell her that!
    </div>
    <h2>CTO</h2>
    <div class="text">
        An incredibly gifted programmer, who always delivers
        outstanding software in time. The CTO prefers his identity
        to be hidden.
    </div>
</body>
</html>
