<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="stylesheet.css">
    <title></title>
</head>
<body>
    ${MENU}
    <h1>Young and Broke Abroad</h1><img src="image.jpg" alt=
    "Home Page Image" width="700">
    <div class="text">
        Are you a young foreigner who considers emigrating to
        another country? Are you worried you might have financial
        difficulties? We are here to help you!
    </div>
</body>
</html>
